{% extends 'base.html' %}
{% block body %}
<div class="col-xs-6">
    <h3>Category Name: {{category.name}}</h3>
</div>
<div class="col-xs-6">
    <h3>Department: {{category.get_department}}</h3>
</div>
<div class="col-xs-12">
    <h4>Category Items:</h4>
</div>
<div class="col-xs-12">
    <table class="table table-striped">
        <tr style="background-color: #1D2731; color: white">
            <th>Product</th>
            <th>Status</th>
            <th>Price</th>
            <th>image_thumb</th>
        </tr>
    {% for product in products %}
    <tr>
        <th>{{product.title}}</th>
        <th>{{product.is_available}}</th>
        <th>{{product.unit_price}}</th>
        <th>{{product.image_thumb}}</th>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
