{% extends 'base.html' %}
{% block body %}
<table class="table table-striped">
    <tr style="background-color: #1D2731; color: white">
        <th>Meal</th>
        <th>Quantity</th>
        <th>Notes</th>
        <th>Table</th>
        <th>Status</th>
    </tr>
    {% for item in food %}
    <tr>
        <th>{{item.product}}</th>
        <th>{{item.quantity}}
        <th>{{item.notes}}</th>
        <th>{{item.table}}</th>
        <th><input type="checkbox" name="status" value=""{% if item.status %}checked{% else %}{% endif %}></th>
    </tr>
    {% endfor %}
</table>
{% endblock %}
