{% extends 'base.html' %}
{% block body %}
<div class="col-xs-8">
    <h3>Order Number: {{order}}</h3>
</div>
<div class="col-xs-4">
    <h3>Table Number: {{table}}</h3>
</div>
<div class="col-xs-6">
    <h4>Order Items:</h4>
</div>
<div class="col-xs-12">
    <table class="table table-striped">
        <tr style="background-color: #1D2731; color: white">
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Notes</th>
            <th>Status</th>
        </tr>
    {% for item in orderitem %}
    <tr>
        <th>{{item.product}}</th>
        <th>{{item.quantity}}</th>
        <th>{{item.total_price}}</th>
        <th>{{item.notes}}</th>
        <th>{{item.get_status}}</th>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
